name: Run TechnoBroadcastBot

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run bot
        run: ./gradlew run
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
      - name: Commit and push changes
        run: |
          git config user.name "mamedovilkin"
          git config user.email "ilkinmamedov0208@gmail.com"

          git add .

          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          git commit -m "Updated articles"
          git push
